
.header{
	background: #fff;
	height:70px;
	overflow:hidden;
	display:table;
	width:100%;
	border:1px solid #ddd;
	box-shadow: 0px 0px 4px 2px #eee;
}

.headerItem{
	display:table-cell;
	vertical-align: middle;
}


.selected:hover{
	cursor:pointer;
}

.breadcrumb{
	background: #fff;
	font-size:20px;
}

.btn{
	margin-right:10px;
}

.modalBody{
	padding:40px;
}
.sort:hover{
	cursor:pointer;
}

.not_found{
	text-align:center;
	padding:40px;
	font-decoration: italic;
	font-size:1em;
	color: #bbb;
}
.inline{
	display: inline;
}

.accounts-list{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.card{
	width: 30%;
	min-width: 200px;
	border:1px solid #ddd;
	margin-bottom:20px;
}
.card:hover{
	cursor: pointer;
}
.card-block{
	padding:20px;
}
.card-block-new{
	padding:30px;
	text-align:center;
}
.card-text-new{
	color:#ddd;font-size:1.5em;
}
.card-text{
	padding-top:10px;
	padding-bottom:10px;
}
.cardHeader{
	height:100px;
}
.card-footer{
	padding:10px;
	border-top:1px solid #ddd;
	color: #aaa;
	font-style: italic;
}
.fa-big{font-size: 100px !important;color: #ddd;}

.service_1{
	background: #80397B;
	color: #fff;	
}
.service_0{
	background: #2dbe60;
	color: #fff;	
}
.label-status{
	font-size: 0.9em;
}
.loader{
	margin-right:30px;
}
.loaderModal {
    width: 25vw    /* Occupy the 90% of the screen width */
}
.iconMargin{
	margin-right:10px;
}

.attachment{
	width:90%;
	padding:10px 10px 10px 10px;
	margin-bottom:10px;border:1px solid #dddddd;
	border-radius: 10px 10px 10px 10px;

}
.policies{
	margin-top:20px;
}
.group-hover:hover{
	cursor:pointer;
	background: #00cc66;
	color: #fff;
}

.hidden{
	display:none;
}

.selected-action{
	background: #000;
	color: #000;
}

.class-editor{
	border:1px solid #ddd;
	border-radius: 5px;
	padding:10px;
	font-family: Arial;
	font-size: 20px;
}

.class-toolbar{
	padding:20px;
}

.react-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  overflow: hidden;
  padding-left: 5px;
  padding-top: 5px;
}

.react-tagsinput--focused {
  border-color: #a5d24a;
}

.react-tagsinput-tag {
  background-color: #cde69c;
  border-radius: 2px;
  border: 1px solid #a5d24a;
  color: #638421;
  display: inline-block;
  font-family: Tahoma;
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px;
}

.react-tagsinput-remove {
  cursor: pointer;
  font-weight: bold;
}

.react-tagsinput-tag a::before {
  content: " ×";
}

.react-tagsinput-input {
  background: transparent;
  border: 0;
  color: #777;
  font-family: Tahoma;
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 6px;
  margin-top: 1px;
  outline: none;
  padding: 5px;
  width: 120px;
}

#removeAttach:hover{
	cursor:pointer;
}

.bodyModal{
	margin:20px;
}

.disabledDiv{
	display:block;
	opacity:0.5;
	pointer-events:none;
}
.centered{
	text-align:center;
}

/* Style the list */
ul.breadcrumb {
    list-style: none;
    background-color: #ddd;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
    width:100%;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: #fff;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #fff;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #fff;
    text-decoration: underline;
}

.panelHeader{
	width:auto;
	display:block;
	background-color: #ddd;
}

.no-margin{
	 padding: 0 !important;
	 margin: 0 !important;
}

.saferoomContainer{
	border: 1px solid #ddd;
	-moz-box-shadow: 3px 3px 3px #ccc;
	-webkit-box-shadow: 3px 3px 3px #ccc;
	box-shadow: 3px 3px 3px #ccc;
}
.saferoomHeader{
	background:#fff;
	width:auto;
	display:block;
}
.saferoomContent{
	padding:30px;
	width:auto;
	display:block;
}
ul.saferoom-default{
	background-color:#394165;
	color:#fff;
}
ul.saferoom-evernote{
	background: #2dbe60;
	color: #fff;	
}
ul.saferoom-onenote{
	background: #80397B;
	color: #fff;	
}
.icon:hover{
	cursor:pointer;
}

.root {
    position: 'absolute',
    top: 0,
    left: 0,
    right: 0,
    bottom: 0,
    overflow: 'hidden',
  }

.sidebar {
    zIndex: 2,
    position: 'absolute',
    top: 0,
    bottom: 0,
    transition: 'transform .3s ease-out',
    WebkitTransition: '-webkit-transform .3s ease-out',
    willChange: 'transform',
    overflowY: 'hidden',
  }
  .content {
    position: 'absolute',
    top: 0,
    left: 0,
    right: 0,
    bottom: 0,
    overflowY: 'hidden',
    WebkitOverflowScrolling: 'touch',
    transition: 'left .3s ease-out, right .3s ease-out',
  },
  .overlay {
    zIndex: 1,
    position: 'fixed',
    top: 0,
    left: 0,
    right: 0,
    bottom: 0,
    opacity: 0,
    visibility: 'hidden',
    transition: 'opacity .3s ease-out, visibility .3s ease-out',
    backgroundColor: 'rgba(0,0,0,.3)',
  }
  .dragHandle {
    zIndex: 1,
    position: 'fixed',
    top: 0,
    bottom: 0,
  }

li.borderless {
	border: 0 none;
}

.separator{
	display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ddd;
    margin: 1em 0;
    padding: 0;
}

.drawerItem:hover{
	cursor:pointer;
	background: #eee;
}

i.profile {
  display: inline-block;
  border-radius: 30px;
  box-shadow: 0px 0px 2px #fff;
  padding: 0.5em 0.6em;
  border: 4px;
}
i.custom-icon {
	margin-left:20px;
}
i.custom-icon:hover{
	cursor:pointer;
}
.btn-saferoom{
	color:#fff !important;
	background-color: #394165 !important;
}
.dropzone{
	width:100%;
	height:50px;
	border: 1px dashed #999;
	text-align:center;
}
.dropzone h4 {
	padding-top:5px;
	color: #999;

}
.searchItem:hover{
	cursor:pointer;
	background: #eee;
}
.fa-search:hover{
	cursor:pointer;
}
.content {
        width: 450px;
        height: 500px;
        background-color: #fff;

        position:absolute; /*it can be fixed too*/
        left:0; right:0;
        top:0; bottom:0;
        margin:auto;

        /*this to solve "the content will not be cut when the window is smaller than the content": */
        max-width:100%;
        max-height:100%;
        overflow:auto;
    }